/* Estilos para o container */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos para o título */
h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilos para a lista de cupcakes */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

strong {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

p {
    font-size: 18px;
    color: #777;
    margin: 10px 0;
}

.price {
    font-size: 20px;
    color: #333;
    display: block;
    margin-top: 10px;
}

.availability {
    font-size: 20px;
    color: #333;
    display: block;
    margin-top: 10px;
}

/* Estilos para a imagem do cupcake */
.img-container {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 300px; /* Tamanho ajustado para imagens maiores */
}
