/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    font-family: Arial, sans-serif;
    transition: background-image 4s ease-in-out, opacity 2s ease-in-out;
}

/* Estilos do contêiner principal */
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Estilos do logotipo */
.logo {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #e74c3c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    padding: 0;
}

/* Estilos do título */
h1 {
    font-size: 28px;
    color: #333;
}

/* Estilos das etiquetas */
label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

/* Estilos dos campos de entrada */
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para o botão de login */
.login-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #555;
}

/* Estilos para o link de registro */
.register-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}

/* Estilos das mensagens de erro */
ul.flash-messages {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

ul.flash-messages li {
    color: #e74c3c;
    font-weight: bold;
    margin-top: 5px;
}

.animation-paused .background-fade {
    animation-play-state: paused;
}
/* Estilos do fundo */
.background-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: changeImage 8s linear infinite;
    z-index: -1; /* Coloca o fundo atrás de todos os outros elementos */
}

/* Animação das imagens de fundo */
@keyframes changeImage {
    0%, 100% { opacity: 1; background-image: url('imagens/cup3.jpg'); }
    25% { opacity: 1; background-image: url('imagens/cup1.jpg'); }
    50% { opacity: 1; background-image: url('imagens/cup2.jpg'); }
    75% { opacity: 1; background-image: url('imagens/cup3.jpg'); }
}


.flash-error {
    color: #ff0000; /* Cor do texto vermelho para mensagens de erro */
    font-weight: bold;
    background-color: #ffeeee; /* Cor de fundo para mensagens de erro */
    border: 1px solid #ff0000; /* Borda vermelha para mensagens de erro */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.flash-message {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 12px; /* Aumentado o espaçamento interno */
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #333; /* Cor de texto mais escura */
}

/* Mensagens de erro */
.error-message {
    background: linear-gradient(to bottom, #ffe6e6, #ffcccc);
    border: 1px solid #ffcccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 12px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: #ff3333;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background 0.5s ease, border-color 0.5s ease, color 0.5s ease; /* Transição mais lenta */
}


/* Se desejar adicionar um ícone de erro ao lado da mensagem */
.error-message::before {
    content: "\2716";
    margin-right: 10px;
    font-size: 24px;
    color: #ff3333;
}

/* Mensagens de aviso */
.warning-message {
    background-color: #fff3cd;
    border: 1px solid #856404;
    border-radius: 5px;
    margin: 5px 0;
    padding: 12px;
    font-size: 14px; /* Reduzindo o tamanho da fonte */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #856404;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    opacity: 0.7; /* Adicionando opacidade */
}

/* Ícone de aviso (para mensagens de aviso) */
.warning-icon {
    margin-right: 10px;
    font-size: 24px;
}

/* Estilos para a caixa de diálogo de erro */
.error-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0); /* Cor de fundo com transparência (0.9) */
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 16px;
    z-index: 1000;
    min-width: 200px;
    max-width: 80%;
}

/* Estilos para o fundo de sobreposição */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo da sobreposição com transparência (0.5) */
    z-index: 999;
}

/* Ocultar o "x" (fechar) */
.error-dialog .close-button {
    display: none;
}
