<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_profile.css') }}">
</head>
<body>
    <div class="container">
        <h1>Editar Perfil</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="success-message"> <!-- Use a classe success-message -->
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/edit_profile">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" class="form-field" required value="{{ usuario.nome }}">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" class="form-field" required value="{{ usuario.email }}">

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" class="form-field" value="{{ usuario.telefone }}">

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" class="form-field" required>

            <button type="submit" class="register-button">Salvar Alterações</button>
        </form>

        <a href="/dashboard" class="action-button">Voltar para o Dashboard</a>
        <!-- JavaScript para ocultar a mensagem de sucesso após 5 segundos -->
        <script>
            setTimeout(function() {
                var successMessage = document.querySelector('.success-message');
                if (successMessage) {
                    successMessage.style.display = 'none';
                }
            }, 5000); // 5000 milissegundos (5 segundos)
        </script>
    </div>
</body>
</html>
