<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Estoque</title>
</head>
<body>
    <h1>Gerenciar Estoque de Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto[1] }}</td>
                    <td>{{ produto[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
